* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif; */
html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

.container-navBar {
	font-size: 1.5rem;
}
